html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(174, 182, 206);
}
.product-image{
  width: 20%;
  height: 200px;
  object-fit: cover;
}
.welcome-container{
  display: flexbox;
}